form {
  text-align: center;
  margin: 15px;
}
input {
  border: solid #28c153 3px;
  border-radius: 5px;
  font-size: 25px;
}

input:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
}

p {
  display: inline;
}
.container {
  background: linear-gradient(
    90.9deg,
    rgba(255, 187, 187, 0.465) -8.8%,
    rgba(255, 220, 177, 0.465) 12.4%,
    rgba(255, 249, 177, 0.465) 35.6%,
    rgba(220, 255, 177, 0.465) 59.6%,
    rgba(177, 218, 255, 0.465) 84%,
    rgba(222, 177, 255, 0.465) 107.9%
  );

  border: solid rgb(87, 158, 215) 4px;
  border-radius: 10px;
  margin: 50px 50px 10px 50px;
  width: auto;
  padding: 30px;
}
.btn-success {
  background-color: #28c153;
  border: solid #28c153 3px;
  position: relative;
  top: -6px;
  font-size: 18px;
}
.btn-warning {
  color: rgb(52, 51, 51);
  position: relative;
  left: 60em;
  top: -62px;
}
#main-pic {
  background-color: #fdffcd;
  border: rgb(25, 109, 178) solid 2px;
  border-radius: 5px;
  margin: 20px;
  margin-bottom: 0px;
  width: 150px;
  position: relative;
  top: -60px;
}
.time {
  font-size: 24px;
}
#description {
  text-transform: capitalize;
}
.row {
  text-align: center;
}
.col-2 {
  margin: 0 auto;
}
.card {
  background-color: #fdffcd;
  border: rgb(176, 99, 209) solid 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 12rem;
}

#temp-min {
  opacity: 0.5;
}
.footer {
  padding-top: 0;
  text-align: center;
}
